@page
@model WebApp.Pages.Store_Pages.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>LaundryStore</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RegisterViewModel.RoleSelected" value="Staff" />
            <input asp-for=" LaundryStore.Status" type="hidden" class="form-control" value="true" />
            <input asp-for=" LaundryStore.Name" type="hidden" class="form-control" value="1" />

            <div class="form-group">
            <label asp-for="RegisterViewModel.Email" class="control-label"></label>
            <input asp-for="RegisterViewModel.Email" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="RegisterViewModel.Name" class="control-label"></label>
                <input asp-for="RegisterViewModel.Name" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="RegisterViewModel.Password" class="control-label"></label>
                <input asp-for="RegisterViewModel.Password" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="RegisterViewModel.ConfirmPassword" class="control-label"></label>
                <input asp-for="RegisterViewModel.ConfirmPassword" class="form-control" />
                @* <span asp-validation-for="ConfirmPassword"></span> *@
            </div>
            <div class="form-group">
                <label asp-for="LaundryStore.Address" class="control-label"></label>
                <input asp-for="LaundryStore.Address" class="form-control" />
                <span asp-validation-for="LaundryStore.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LaundryStore.Capacity" class="control-label"></label>
                <input asp-for="LaundryStore.Capacity" class="form-control" />
                <span asp-validation-for="LaundryStore.Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

