@using Domain.Repository
@using WebApp.Pages.Cart
@inject IUnitOfWork unitOfWork
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css//bootstrap.css"/>
    @* <link rel="stylesheet" href="~/css/bootstrap.rtl.css"/> *@
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <script src="https://kit.fontawesome.com/bdbcf2ce1a.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">LaundryGO</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor03">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="/Index">
                                Home
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        

                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Management
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" asp-page="/Customer_Pages/Index">Customer</a>
                                <a class="dropdown-item" asp-page="/Staff_Pages/Index">Staff</a>
                                <a class="dropdown-item" asp-page="/Services/Index">Services</a>
                                <a class="dropdown-item" asp-page="/StoreService_Pages/Index">Store Services</a>
                                <a class="dropdown-item" asp-page="/Store_Pages/Index">Store</a>
                            </div>
                        </div>
                    </ul>

                        <partial name="_LoginPartialCustom" />
@*                     @await Html.PartialAsync("_LoginPartialCustom",
                    new CartModel(unitOfWork)) *@

@*                     <form class="d-flex">
                        <input class="form-control me-sm-2" type="search" placeholder="Search">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form> *@
                </div>
                
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="p-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - WebApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
