@page
<br />
<h1 class="text-success text-center">Reset password confirmation</h1>
<p class="text-info fs-3 text-center">
    You have reset your password. Click here to return to Login page: <a asp-page="/Account/Login">Login</a>
</p>