@page
@model WebApp.Pages.Account.ResetPasswordModel
@{
}
<h1>Reset Password</h1>
<div class="row">
    <div class="col-md-8">
        <section>
            <form asp-page="/Account/ResetPassword" method="post" class="form-horizontal" role="form">
                <h4>Reset your password</h4>
                <hr />
                <input type="hidden" asp-for="model.Code" value="@ViewData["Code"]"/>
                <input type="hidden" asp-for="model.UserId" value="@ViewData["UserId"]" />
                <div asp-validation-summary="All" class="text-danger"></div>
@*                 <div class="form-group">
                    <label asp-for="model.Email" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="model.Email" class="form-control" />
                        <span asp-validation-for="model.Email" class="text-danger"></span>
                    </div>
                </div> *@
                <div class="form-group">
                    <label asp-for="model.Password" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="model.Password" class="form-control" />
                        <span asp-validation-for="model.Password" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="model.ConfirmPassword" class=" control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="model.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="model.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group p-2">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-success">Reset</button>
                    </div>
                </div>
            </form>
        </section>
    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}