@page
@model WebApp.Pages.Customer_Pages.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
@*             <div class="form-group">
                <label asp-for="Customer.ApplicationUserId" class="control-label"></label>
                <select asp-for="Customer.ApplicationUserId" class ="form-control" asp-items="ViewBag.ApplicationUserId"></select>
            </div> *@

            <input type="hidden" asp-for="RegisterViewModel.RoleSelected" value="Customer"/>
            <input asp-for="Customer.Name" type="hidden" class="form-control" value="Customer" />
            <div class="form-group">
                <label asp-for="RegisterViewModel.Email" class="control-label"></label>
                <div class="col-md-10">
                    <input asp-for="RegisterViewModel.Email" class="form-control" />
                    @* <span asp-validation-for="Email"></span> *@
                </div>
            </div>

            <div class="form-group">
                <label asp-for="RegisterViewModel.Name" class="control-label"></label>
                <div class="col-md-10">
                    <input asp-for="RegisterViewModel.Name" class="form-control" />
                    @* <span asp-validation-for="Name"></span> *@
                </div>
            </div>

            <div class="form-group">
                <label asp-for="RegisterViewModel.Password" class="control-label"></label>
                <div class="col-md-10">
                    <input asp-for="RegisterViewModel.Password" class="form-control" />
                    @* <span asp-validation-for="Password"></span> *@
                </div>
            </div>

            <div class="form-group">
                <label asp-for="RegisterViewModel.ConfirmPassword" class="control-label"></label>
                <div class="col-md-10">
                    <input asp-for="RegisterViewModel.ConfirmPassword" class="form-control" />
                    @* <span asp-validation-for="ConfirmPassword"></span> *@
                </div>
            </div>


@*             <div class="form-group">
                <label asp-for="Customer.Name" class="control-label"></label>
                <input asp-for="Customer.Name" class="form-control" />
                <span asp-validation-for="Customer.Name" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="Customer.Address" class="control-label"></label>
                <input asp-for="Customer.Address" class="form-control" />
                <span asp-validation-for="Customer.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
